span {
  font-weight: bold;
}
#madLibs,
nav, #button {
  text-align: center;
}

.input {
  height: 150px;
  margin: 2% auto;
  padding-top: 1%;
  border: 2px solid #000;
  width: 60%;
/*  text-align: center;*/
}

#story {
  height: 250px;
  margin: 2% auto;
  font-size: 25px;
  width: 60%;
}

ul{
	width: 60%;
	margin:2% auto; 
}

#titles{
	font-size: 20px;
}

