<div class="input">
	<label>Adjective: <input type="text" ng-model="adjective" placeholder="Adjective" /></label>
	<label>Programming Language: <input type="text" ng-model="progLang" placeholder="Programming Language" /></label>

	<label>Number 1: <input type="text" ng-model="number1" placeholder="Number 1" /></label>
	
	<label>Number 2: <input type="text" ng-model="number2" placeholder="Number 2" /></label>

	<label>Another Language: <input type="text" ng-model="anotherLang" placeholder="Another Language" /></label>
</div>

<div id="button">
  <button ng-click="save()">Add The Words</button>
</div>